
    {{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Pollitos</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio consequatur temporibus! Aperiam at ducimus fugit placeat saepe temporibus nihil corrupti eos eligendi deleniti! Debitis mollitia voluptatibus assumenda deserunt aperiam.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/pollitos.jpg" class="img-thumbnail" alt="">
        </div>
    </div>

    {{> footer }}
    
